/**
 * CircleCI ANSI Colors - CSS Styles
 * Terminal color classes for ANSI escape code rendering
 */

/* Standard foreground colors */
.ansi-fg-black {
    color: #000000;
}

.ansi-fg-red {
    color: #cc0000;
}

.ansi-fg-green {
    color: #4e9a06;
}

.ansi-fg-yellow {
    color: #c4a000;
}

.ansi-fg-blue {
    color: #3465a4;
}

.ansi-fg-magenta {
    color: #75507b;
}

.ansi-fg-cyan {
    color: #06989a;
}

.ansi-fg-white {
    color: #d3d7cf;
}

/* Bright foreground colors */
.ansi-fg-bright-black {
    color: #555753;
}

.ansi-fg-bright-red {
    color: #ef2929;
}

.ansi-fg-bright-green {
    color: #8ae234;
}

.ansi-fg-bright-yellow {
    color: #fce94f;
}

.ansi-fg-bright-blue {
    color: #729fcf;
}

.ansi-fg-bright-magenta {
    color: #ad7fa8;
}

.ansi-fg-bright-cyan {
    color: #34e2e2;
}

.ansi-fg-bright-white {
    color: #eeeeec;
}

/* Standard background colors */
.ansi-bg-black {
    background-color: #000000;
}

.ansi-bg-red {
    background-color: #cc0000;
}

.ansi-bg-green {
    background-color: #4e9a06;
}

.ansi-bg-yellow {
    background-color: #c4a000;
}

.ansi-bg-blue {
    background-color: #3465a4;
}

.ansi-bg-magenta {
    background-color: #75507b;
}

.ansi-bg-cyan {
    background-color: #06989a;
}

.ansi-bg-white {
    background-color: #d3d7cf;
}

/* Bright background colors */
.ansi-bg-bright-black {
    background-color: #555753;
}

.ansi-bg-bright-red {
    background-color: #ef2929;
}

.ansi-bg-bright-green {
    background-color: #8ae234;
}

.ansi-bg-bright-yellow {
    background-color: #fce94f;
}

.ansi-bg-bright-blue {
    background-color: #729fcf;
}

.ansi-bg-bright-magenta {
    background-color: #ad7fa8;
}

.ansi-bg-bright-cyan {
    background-color: #34e2e2;
}

.ansi-bg-bright-white {
    background-color: #eeeeec;
}

/* Default colors (reset to inherit) */
.ansi-fg-default {
    color: inherit;
}

.ansi-bg-default {
    background-color: inherit;
}

/* Text styles */
.ansi-bold {
    font-weight: bold;
}

.ansi-dim {
    opacity: 0.7;
}

.ansi-italic {
    font-style: italic;
}

.ansi-underline {
    text-decoration: underline;
}

.ansi-strikethrough {
    text-decoration: line-through;
}

.ansi-hidden {
    visibility: hidden;
}

.ansi-reverse {
    filter: invert(1);
}

/* Ensure all ANSI spans are inline */
.circleci-ansi-processed span {
    display: inline;
}